<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    a {
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px 20px;
        text-decoration: none;
    }

    .red {
color : red;
background-color: pink;

    }
    </style>
</head>
<body>
  <a class = "red" href="/image">이미지</a>
  <a href="">행운숫자</a>
  <a href="">생일</a>
  <a href="">테이블</a>
  <h1 style="background-color: pink;">장고 프로젝트</h1>
  
</body>
</html>